body {
    background-color: rgb(181, 169, 169);
    
}

.paper {
  background: #fff;
  box-shadow:
    
    0 1px 1px rgba(0,0,0,0.15),
    
    0 10px 0 -5px #eee,
    
    0 10px 1px -4px rgba(0,0,0,0.15),
    
    0 20px 0 -10px #eee,
    
    0 20px 1px -9px rgba(0,0,0,0.15);
    
    padding: 30px;
margin: 30px auto;
width: 80%;
display: block;
 
}

.counter {
    margin-left: -1000px;
}
li {
  border: 1px solid rgba(223, 210, 210, 0.588); /* 1 pixel width, solid style, black color */
}

